body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: #fafafa; }

.letter {
  color: #4d4d4d;
  font-size: 1em;
  line-height: 1.45em;
  font-family: 'Alegreya Sans', Helvetica, sans-serif; }
  .letter p {
    margin-bottom: 1em; }

a {
  color: #00B1DF; }

.flexcontainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row; }

.centerdiv {
  max-width: 500px; }

.sm-logo {
  width: 50px; }

@media (max-width: 500px) {
  .flexcontainer {
    align-items: start; }

  .letter {
    margin: 50px 0px;
    width: 300px; } }
.lt-end {
  text-align: right; }

.email {
  color: #00B1DF;
  text-decoration: underline; }

b {
  font-weight: bold; }
