body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: #f5fef7; }

.letter {
  color: #4d4d4d;
  font-size: 1em;
  line-height: 1.45em;
  font-family: 'Alegreya Sans', Helvetica, sans-serif; }
  .letter p {
    margin-bottom: 1em; }

a {
  color: #00B1DF; }
  a.highlightbutton {
    padding: 5px 10px;
    background-color: #FBB040;
    color: #EB207D;
    border-radius: 4px;
    font-weight: bold; }

.flexcontainer {
  margin: 100px 0px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .flexcontainer > div {
    margin: auto; }

#letterdiv, #menudiv {
  max-width: 40vw; }

.letter {
  margin-bottom: 40px; }

.sm-logo {
  width: 50px; }

@media (max-width: 500px) {
  .flexcontainer {
    align-items: start; }

  .letter {
    width: 300px; } }
.lt-end {
  text-align: right; }

.email {
  color: #00B1DF;
  text-decoration: underline; }

b {
  font-weight: bold; }

.facade_image {
  position: relative;
  width: 100%;
  overflow: hidden; }
  .facade_image img {
    border-radius: 10px;
    max-width: 100%;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    clear: both; }
  .facade_image img.day {
    position: absolute;
    top: 0px; }
    .facade_image img.day:hover {
      opacity: 0; }

.p-center {
  text-align: center;
  padding: 20px 0px; }

.p-float-right {
  float: right; }
