$textcolor: lighten(black, 30%);
$bgcolor: lighten(#e3fce8, 4%);
$linkcolor: #00B1DF;

body {
	margin: 0px;
	padding: 0px;
	height: 100%;
  background-color: $bgcolor;
  font-family: 'Alegreya Sans', Helvetica, sans-serif;
}

.letter {
  color: $textcolor;
	font-size: 1em;
  line-height: 1.45em;

	p {
		margin-bottom: 1em;
	}
}

a {
  color: $linkcolor;

  &.highlightbutton {
    padding: 5px 10px;
    background-color: #FBB040;
    color: #EB207D;
    border-radius: 4px;
    font-weight: bold;
  }
}

.flexcontainer {
  margin: 100px 0px;
	min-height:100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

  & > div {
    margin: auto; // horizontal and vertical align
  }
}

#letterdiv, #menudiv {
  max-width: 40vw;
}


.letter {
  margin-bottom: 40px;
}

.sm-logo {
  width: 50px;
}

@media (max-width: 500px) {
	.flexcontainer {
		align-items: start;
  }
  #letterdiv, #menudiv {
    max-width: 90vw;
  }


}

.lt-end {
  text-align: right;
}

.email {
  color: $linkcolor;
  text-decoration: underline;
}

b {
  font-weight: bold;
}

.facade_image {
  position: relative;

  width: 100%;
  overflow: hidden;

  img {
    border-radius: 10px;
    max-width: 100%;
		-webkit-transition: opacity 1s ease-in-out;
		-moz-transition: opacity 1s ease-in-out;
		-o-transition: opacity 1s ease-in-out;
		transition: opacity 1s ease-in-out;
    clear: both;

  }

  img.day {
    position: absolute;
    top: 0px;

	  &:hover {
			opacity:0;
	  }
  }
}

.p-center {
  text-align: center;
  padding: 20px 0px;
}

.p-float-right {
  float: right;
}
